:root {
  --main-color: #3aaed8;
}

.intro {
  height: 100vh;
  display: flex;
}

.left,
.right {
  flex: 1;
}

/* left side */
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-wrapper {
  margin: 5em;
}

.intro-name {
  font-size: 4em;
}

a {
  text-decoration: none;
  margin-left: 5%;
}

.pdf {
  color: #ef3e36;
  transition: transform 300ms ease;
}

.pdf:hover {
  transform: scale(1.05);
}

.slider {
  height: 2rem;
  overflow: hidden;
  margin-top: 1em;
}

.slider-item {
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
  font-style: oblique;
  animation: move 4s ease-in-out infinite alternate;
}

.desc {
  margin-top: 1em;
}

/* right side */
.right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: var(--main-color);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.batman {
  position: relative;
  max-width: 100%;
  height: auto;
  animation: kickIn 1s ease forwards;
  left: -200%;
  opacity: 0;
}

@keyframes move {
  25% {
    transform: translateY(-1.3em);
  }
  50% {
    transform: translateY(-2.6em);
  }
  75% {
    transform: translateY(-3.9em);
  }
  100% {
    transform: translateY(-5.2em);
  }
}

@keyframes kickIn {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 40em) {
  .intro {
    flex-direction: column;
  }

  .desc {
    display: none;
  }

  .left-wrapper {
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
